.btn {
    color: white;
    background: teal;
    padding: 0.375rem 0.75rem;
    border: 1px solid teal;
    border-radius: 0.25rem;
    font-size: 1rem;
    line-height: 1.5;
    margin-right: 10px;
}

.btn:last-child{
    margin-right: 0px;
}

.btn-wrapper {
    margin: 10px 0 ;
    display: flex;
    justify-content: right;
}

.main {
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: auto;
}

.body {
    display: flex;
    width: 1100px;
    height: 550px;
    align-items: center;
    justify-content: center;
}